.createWall{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    box-shadow: 1px 0px 26px -5px #000000;
}

.canvas{
    display: flex;
    justify-content: center;
}

.createWallRow{
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.progress-bar-vertical{
    top: 50%;
    left: -10%;
}

.btn-primary {
    border: none !important;
    outline: none !important;
}